<!DOCTYPE html>
<html>

<head>
    <title>Good Chats</title>
</head>

    <body>
        
        <% messages.forEach( (message)=>{ %>
            <li> <%= message %> </li>
        <% } ) %>
        <br>
        <br>
        <form action="/chat" method="POST">
            <input type="text" name="message" >
            <button>Submit</button>
        </form>
    </body>

</html>
