<html>

    <head>
        <title>Chat App</title>
    </head>

    <body>
        <h1>Hello World!!</h1>

        <ul id = "messages"></ul>

        <form action="" id="unform">
            <input id="username">
            <button>Select Username</button>
        </form>

        <form action="" id="mssgform">
            <input id="msg">
            <button>send msg</button>
        </form>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/client.js"></script>
    </body>
</html>