* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html,body {
    background: linear-gradient(120deg, rgba(23, 190, 187, 1),  rgba(240, 166, 202, 1));
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.container.h1{
    margin: 0.5em auto;
      color: #FFF;
      text-align: center;
}

.chatbox {
    background: rgba(255, 255, 255, 0.05);
    width: 600px;
    height: 75%;
    border-radius: 0.2em;
    position: relative;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.msgspace{
    height: 90%;
    overflow-y: auto;
}

.mymessage{
    float: right;
}

/*
.mymessage:after{
    content: '';
    position: absolute;
    margin: -1.5em -17.06em;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(255, 255, 255, 0.2);
}
*/

.othermessage{
    float: left;
}

.adminmessage{
    display:inline-block
}

/*
.othermessage:after{
    content: '';
    position: absolute;
    margin: -1.5em 1.87em;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(255, 255, 255, 0.2);
}
*/

.mes{
    width: 450px;
}

.mes{
    background: rgba(255, 255, 255, 0.2);
    padding: 1em 0;
    height: auto;
    width: 65%;
    border-radius: 5px;
    margin: 0.5em 1em;
    overflow: auto;
}

.chatbox form {
    background: #222;
}

.chatbox form input {
    background: rgba(255, 255, 255, 0.03);
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    width: 100%;
    padding: 1.2em;
    outline: none;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

div.name {
    color: #FFF;
    font-size: 1em;
    margin: 0 1.4em;
}

div.message {
    color: #FFF;
    font-size: 0.7em;
    margin: 0 2.8em;
}

.msgspace::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.msgspace::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.msgspace::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(5, 5, 5, .6);
}

.loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}

form input{
    background: rgba(255, 255, 255, 0.03);
    bottom: 200;
    border: none;
    width: 50%;
    padding: 1.2em;
    outline: none;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}